<h1>Filters#index</h1>
<p>Zip required, leave blank to ignore </p>
<%= form_tag(filters_index_path method: :get) do %>
  Zip <%= text_field_tag :zip  %>
  Reviews <%= text_field_tag :reviews %>
  Rating <%= text_field_tag :rating %>
  <%= submit_tag 'Search' %>
  <br>
  <p> Not implemented below <p>
  Cost <%= text_field_tag :cost %>
  Enhanced <%= check_box_tag :enhanced %>
  Carehome <%= check_box_tag :carehome %>

<% end %>
<% if !@results.nil? && @results.kind_of?(Array) %>
  <% @results.each do |res|%>
    <p><%= res['name'] %> </p>
    <p><%= res['addressLine1'] %> </p>
    <p><%= res['selfDescription'] %> </p>
    <p>Reviews:<%= res['reviewCount'] %> </p>
    <p>Rating:<%= res['averageRating'] %> </p>
    <% end %>
<% end %>
